asgiref==3.2.10
astroid==2.4.2


cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4

Flask==1.1.2
Flask-Cors==3.0.9
Flask-SocketIO==4.3.1

ipython-genutils==0.2.0

Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0

Pillow==7.1.2


requests==2.24.0

uritemplate==3.0.1
urllib3==1.25.9

Flask==1.1.2
gunicorn== 19.9.0 